<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.semi.mappers.AttendanceMapper">
    <resultMap id="attendanceResult" type="Attendance">
        <result column="ATTENDANCE_NO" property="attendanceNo"/>
        <result column="EMP_NO" property="empNo"/>
        <result column="CLOCK_IN" property="clockIn"/>
        <result column="CLOCK_OUT" property="clockOut"/>
        <result column="STATUS" property="status"/>
        <result column="WORKDAY" property="workDay"/>
        <result column="WORKTIME" property="workTime"/>
        <result column="EMP_NAME" property="empName"/>
        <result column="MEM_NAME" property="memName"/>
    </resultMap>

    <select id="getAttendanceMy" parameterType="Attendance" resultMap="attendanceResult">
        SELECT ATTENDANCE_NO,
        EMP_NO,
        CLOCK_IN,
        CLOCK_OUT,
        TRUNC(CLOCK_IN) AS WORKDAY,
        STATUS,
        CASE
        WHEN CLOCK_OUT IS NOT NULL THEN
        FLOOR((CLOCK_OUT - CLOCK_IN) * 24) || '시간 ' ||
        FLOOR(MOD((CLOCK_OUT - CLOCK_IN) * 24 * 60, 60)) || '분'
        ELSE NULL
        END AS WORKTIME
        FROM ATTENDANCE
        WHERE EMP_NO = #{empNo}
        ORDER BY ATTENDANCE_NO DESC
    </select>

    <select id="getMyAttendanceList" parameterType="Attendance" resultMap="attendanceResult">
        SELECT
        a.ATTENDANCE_NO,
        a.EMP_NO,
        m.MEM_NAME AS EMP_NAME,
        a.CLOCK_IN,
        a.CLOCK_OUT,
        TRUNC(a.CLOCK_IN) AS WORKDAY,
        a.STATUS,
        CASE
        WHEN a.CLOCK_OUT IS NOT NULL THEN
        FLOOR((a.CLOCK_OUT - a.CLOCK_IN) * 24) || '시간 ' ||
        FLOOR(MOD((a.CLOCK_OUT - a.CLOCK_IN) * 24 * 60, 60)) || '분'
        ELSE NULL
        END AS WORKTIME
        FROM ATTENDANCE a
        JOIN MEMBER m ON a.EMP_NO = m.EMP_NO
        WHERE m.STORE_ID = #{storeId}
        AND m.POSITION = 'employee'
        ORDER BY a.ATTENDANCE_NO DESC
    </select>

    <update id="updateAttendance">
        UPDATE attendance
        SET
                clock_in = #{clockIn},
                clock_out = #{clockOut},
                status = #{status}
        WHERE attendance_no = #{attendanceNo}
    </update>

    <select id="selectAttendance" parameterType="map" resultMap="attendanceResult">
        SELECT
        a.ATTENDANCE_NO,
        a.EMP_NO,
        m.MEM_NAME,
        m.MEM_NAME AS EMP_NAME,
        a.CLOCK_IN,
        a.CLOCK_OUT,
        TRUNC(a.CLOCK_IN) AS WORKDAY,
        a.STATUS,
        CASE
        WHEN a.CLOCK_OUT IS NOT NULL THEN
        FLOOR((a.CLOCK_OUT - a.CLOCK_IN) * 24) || '시간 ' ||
        FLOOR(MOD((a.CLOCK_OUT - a.CLOCK_IN) * 24 * 60, 60)) || '분'
        ELSE NULL
        END AS WORKTIME
        FROM ATTENDANCE a
        JOIN MEMBER m ON a.EMP_NO = m.EMP_NO
        WHERE m.STORE_ID = #{storeId}
        <if test="empName != null and empName != ''">
            AND m.MEM_NAME = #{empName}
        </if>
        <if test="startDate != null and endDate != null">
        AND TRUNC(a.CLOCK_IN) BETWEEN #{startDate} AND #{endDate}
    </if>
        ORDER BY a.ATTENDANCE_NO DESC
    </select>

    <insert id="insertClockIn" parameterType="Attendance">
        INSERT INTO ATTENDANCE (
        ATTENDANCE_NO,
        EMP_NO,
        CLOCK_IN,
        STATUS
        ) VALUES (
        ATTENDANCE_SEQ.NEXTVAL,
        #{empNo},
        #{clockIn},
        #{status}
        )
    </insert>

    <update id="updateClockOut" parameterType="Attendance">
        UPDATE ATTENDANCE
        SET CLOCK_OUT = #{clockOut},
        STATUS = #{status}
        WHERE ATTENDANCE_NO =
            (SELECT ATTENDANCE_NO
             FROM (
             SELECT ATTENDANCE_NO
             FROM ATTENDANCE
             WHERE EMP_NO = #{empNo} AND CLOCK_OUT IS NULL
             ORDER BY ATTENDANCE_NO DESC
        ) WHERE ROWNUM = 1
        )
    </update>

    <select id="isClockedIn" parameterType="int" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM ATTENDANCE
        WHERE EMP_NO = #{empNo}
        AND CLOCK_OUT IS NULL
        AND TRUNC(CLOCK_IN) = TRUNC(SYSDATE)
    </select>

    <select id="getTotalAttendanceCount" resultType="int">
        SELECT COUNT(*)
        FROM ATTENDANCE
        WHERE EMP_NO = #{empNo}
    </select>

    <select id="selectAttendancListByPage" resultMap="attendanceResult">
        SELECT
        ATTENDANCE_NO,
        CLOCK_IN,
        CLOCK_OUT,
        STATUS,
        CASE
        WHEN CLOCK_OUT IS NOT NULL THEN
        FLOOR((CLOCK_OUT - CLOCK_IN) * 24) || '시간 ' ||
        FLOOR(MOD((CLOCK_OUT - CLOCK_IN) * 24 * 60, 60)) || '분'
        ELSE NULL
        END AS WORKTIME
        FROM ATTENDANCE
        WHERE EMP_NO = #{empNo}
        ORDER BY CLOCK_OUT DESC
    </select>

    <select id="getAttendanceCount" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM ATTENDANCE A
        JOIN MEMBER M ON A.EMP_NO = M.EMP_NO
        WHERE M.STORE_ID = #{storeId}
        <if test="empName != null and empName != ''">
            AND M.MEM_NAME = #{empName}
        </if>
        <if test="startDate != null">
            AND TRUNC(A.CLOCK_IN) &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND TRUNC(A.CLOCK_IN) &lt;= #{endDate}
        </if>
    </select>

    <!-- 지점장 페이지의 직원 근태관리 리스트 페이징바-->
    <select id="selectAttendanceListPage" resultMap="attendanceResult">
        SELECT
        A.ATTENDANCE_NO,
        A.EMP_NO,
        M.MEM_NAME,
        A.CLOCK_IN,
        A.CLOCK_OUT,
        TRUNC(A.CLOCK_IN) AS WORKDAY,
        A.STATUS,
        CASE
        WHEN A.CLOCK_OUT IS NOT NULL THEN
        FLOOR((A.CLOCK_OUT - A.CLOCK_IN) * 24) || '시간 ' ||
        FLOOR(MOD((A.CLOCK_OUT - A.CLOCK_IN) * 24 * 60, 60)) || '분'
        ELSE NULL
        END AS WORKTIME
        FROM ATTENDANCE A
        JOIN MEMBER M ON A.EMP_NO = M.EMP_NO
        <where>
            M.STORE_ID = #{storeId}
            <if test="empName != null and empName != ''">
                AND M.MEM_NAME = #{empName}
            </if>
            <if test="startDate != null">
                AND TRUNC(A.CLOCK_IN) &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND TRUNC(A.CLOCK_IN) &lt;= #{endDate}
            </if>
            AND M.POSITION = 'employee'
        </where>
        ORDER BY A.CLOCK_OUT DESC
    </select>

    <select id="countByStatus" resultType="int">
        SELECT COUNT(DISTINCT A.emp_no)
        FROM ATTENDANCE A
        JOIN MEMBER M ON A.emp_no = M.emp_no
        WHERE M.store_id = #{storeId}
        AND A.status = #{status}
        AND TRUNC(A.clock_in) = TRUNC(SYSDATE)
    </select>


    <select id="countWork" resultType="int">
        SELECT COUNT(*) AS COUNT
        FROM ATTENDANCE A
        JOIN MEMBER M ON (M.EMP_NO = A.EMP_NO)
        WHERE TRUNC(CLOCK_IN) = TRUNC(SYSDATE)
        AND A.STATUS = 'W'
        AND M.STORE_ID = #{storeId}
    </select>
    <select id="countEmp" resultType="int">
        SELECT COUNT(*) AS COUNT
        FROM MEMBER
        WHERE STORE_ID = #{storeId}
            AND STATUS = 'Y'
    </select>

</mapper>