<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.semi.mappers.MemberMapper">
    <resultMap id="memberResult" type="Member">
        <result column="EMP_NO" property="empNo"/>
        <result column="STORE_ID" property="storeId"/>
        <result column="STORE_NAME" property="storeName"/>
        <result column="MEM_ID" property="memId"/>
        <result column="MEM_PWD" property="memPwd"/>
        <result column="MEM_NAME" property="memName"/>
        <result column="PHONE" property="phone"/>
        <result column="POSITION" property="position"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="HIRE_DATE" property="hireDate"/>
        <result column="SALARY" property="salary"/>
        <result column="WORKDATE" property="workDate"/>
        <result column="STORE_ADDRESS" property="storeAddress"/>
    </resultMap>
    <select id="loginMember" parameterType="String" resultMap="memberResult">
        SELECT
        M.EMP_NO,
        M.STORE_ID,
        S.STORE_NAME,
        S.STORE_ADDRESS,
        M.MEM_ID,
        M.MEM_PWD,
        M.MEM_NAME,
        M.PHONE,
        M.POSITION,
        M.STATUS,
        M.CREATE_DATE,
        M.MODIFY_DATE,
        M.HIRE_DATE,
        M.SALARY,
        CEIL(SYSDATE - M.CREATE_DATE) AS WORKDATE
        FROM MEMBER M
        LEFT JOIN STORE S ON M.STORE_ID = S.STORE_ID
        WHERE M.MEM_ID = #{memId}
    </select>

    <insert id="insertMember" parameterType="Member">
        INSERT INTO MEMBER (
        EMP_NO,
        MEM_ID,
        MEM_PWD,
        MEM_NAME,
        PHONE
        )
        VALUES (
        EMP_SEQ.NEXTVAL,
        #{memId},
        #{memPwd},
        #{memName},
        #{phone}
        )
    </insert>

    <select id="checkId" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE MEM_ID = #{memId}
    </select>

    <select id="selectMemberList" resultMap="memberResult">
        SELECT DISTINCT M.EMP_NO,
        M.CREATE_DATE,
        M.MEM_NAME,
        S.STORE_NAME,
        M.POSITION,
        M.PHONE,
        M.SALARY
        FROM MEMBER M
        JOIN STORE S ON M.STORE_ID = S.STORE_ID
        WHERE M.STATUS = 'Y'
        ORDER BY M.EMP_NO ASC
    </select>
    <select id="getStoreList" resultType="string">
        SELECT DISTINCT STORE_NAME FROM STORE ORDER BY STORE_NAME ASC
    </select>
    <select id="getEmployeesByStore" resultMap="memberResult">
        SELECT M.EMP_NO, M.HIRE_DATE, M.MEM_NAME, S.STORE_NAME,
        M.POSITION, M.PHONE, M.SALARY
        FROM MEMBER M
        JOIN STORE S ON M.STORE_ID = S.STORE_ID
        WHERE M.STATUS = 'Y'
        AND S.STORE_NAME = #{store}
        ORDER BY M.EMP_NO ASC
    </select>

    <select id="countEmployee" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE STATUS = 'N'
    </select>

    <select id="acceptMemberList" resultMap="memberResult">
        SELECT
        EMP_NO,
        STORE_ID,
        MEM_ID,
        MEM_PWD,
        MEM_NAME,
        PHONE,
        POSITION,
        STATUS,
        CREATE_DATE,
        MODIFY_DATE,
        HIRE_DATE,
        SALARY
        FROM MEMBER
        WHERE STATUS = 'N'
        ORDER BY EMP_NO ASC
    </select>

    <update id="approveMember">
        UPDATE MEMBER M
        SET M.STATUS = 'Y',
        M.POSITION = 'employee',
        M.STORE_ID = (SELECT S.STORE_ID
        FROM STORE S
        WHERE S.STORE_NAME = #{storeSelect})
        WHERE M.MEM_ID =#{memId}
    </update>

    <update id="rejectMember">
        UPDATE MEMBER
        SET STATUS = 'D'
        WHERE MEM_ID = #{memId}
    </update>

    <select id="acceptManagerList" resultMap="memberResult">
        SELECT
        M.EMP_NO,
        M.CREATE_DATE,
        M.MEM_ID,
        M.MEM_NAME,
        M.PHONE,
        S.STORE_NAME,
        M.STORE_ID
        FROM MEMBER M
        JOIN STORE S ON M.STORE_ID = S.STORE_ID
        WHERE M.STATUS = 'Y'
              AND S.STATUS = 'N'
              AND M.POSITION = 'employee'
              AND M.STORE_ID = S.STORE_ID
        ORDER BY M.EMP_NO ASC
    </select>

    <update id="approveManagerStore">
        UPDATE STORE
        SET STATUS = 'Y'
        WHERE STORE_ID = #{storeId}
    </update>

    <update id="approveManagerPosition">
        UPDATE MEMBER
        SET POSITION = 'manager'
        WHERE MEM_ID = #{memId}
    </update>

    <update id="rejectManager">
        UPDATE STORE
        SET STATUS = 'D'
        WHERE STORE_ID = #{storeId}
    </update>

    <select id="selectMemberListByPage" resultMap="memberResult">
        SELECT DISTINCT M.EMP_NO,
        M.CREATE_DATE,
        M.MEM_NAME,
        S.STORE_NAME,
        M.POSITION,
        M.PHONE,
        M.SALARY
        FROM MEMBER M
        JOIN STORE S ON M.STORE_ID = S.STORE_ID
        WHERE M.STATUS = 'Y'
        ORDER BY M.EMP_NO ASC
    </select>

    <select id="countAllMembers" resultType="int">
        SELECT COUNT(*) FROM MEMBER
        WHERE STATUS = 'Y'
        AND STORE_ID IS NOT NULL
    </select>

    <update id="updatePhone">
        UPDATE MEMBER
        SET PHONE = #{phone}
        WHERE MEM_ID = #{memId}
    </update>

    <update id="updatePwd">
        UPDATE MEMBER
        SET MEM_PWD = #{newPwd}
        WHERE MEM_ID = #{memId}
        AND MEM_PWD = #{memPwd}
    </update>


    <select id="countMembersByStore" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM MEMBER M
        JOIN STORE S ON M.STORE_ID = S.STORE_ID
        WHERE S.STORE_NAME = #{storeName}
    </select>

    <!-- 지점별 직원 목록 -->
    <select id="selectMemberListByStore" resultMap="memberResult" parameterType="map">
        SELECT
        M.EMP_NO,
        M.STORE_ID,
        M.MEM_ID,
        M.MEM_PWD,
        M.MEM_NAME,
        M.PHONE,
        M.POSITION,
        M.STATUS,
        M.CREATE_DATE,
        M.MODIFY_DATE,
        M.HIRE_DATE,
        M.SALARY,
        S.STORE_NAME
        FROM MEMBER M
        JOIN STORE S ON M.STORE_ID = S.STORE_ID
        WHERE S.STORE_NAME = #{storeName}
        ORDER BY M.EMP_NO DESC
    </select>


</mapper>