<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.semi.mappers.StorageMapper">
    <resultMap id="storageResult" type="Storage">
        <result column="STORE_ID" property="storeId"/>
        <result column="STORAGE_NO" property="storageNo"/>
        <result column="STORE_ID" property="storeId"/>
        <result column="STORAGE_LOCATION" property="storageLocation"/>
        <result column="ABLE_AMOUNT" property="ableAmount"/>
        <result column="CURRENT_AMOUNT" property="currentAmount"/>
    </resultMap>

    <select id="selectStorage" parameterType="Storage" resultMap="storageResult">
        SELECT *
        FROM STORAGE
        WHERE STORE_ID = #{storeId}
        ORDER BY STORAGE_NO
    </select>

    <insert id="insertStorage" parameterType="Storage">
        INSERT INTO STORAGE (
         STORAGE_NO,
         STORE_ID,
         STORAGE_LOCATION,
         ABLE_AMOUNT
        ) VALUES(
        STORAGE_SEQ.NEXTVAL,
        #{storeId},
        #{storageLocation},
        #{ableAmount}
        )
    </insert>

    <delete id="deleteStorage">
        DELETE FROM STORAGE
        WHERE STORAGE_NO = #{storageNo}
    </delete>

    <select id="storageCount" resultType="int">
        SELECT COUNT(*)
        FROM STORAGE
    </select>

    <select id="selectStorageList" resultMap="storageResult">
        SELECT *
        FROM STORAGE
        WHERE STORE_ID = #{storeId}
        ORDER BY STORAGE_NO
    </select>

    <select id="getStorageList" parameterType="Storage" resultMap="storageResult" >
        SELECT DISTINCT STORAGE_LOCATION,
                        STORAGE_NO,
                        STORE_ID
        FROM STORAGE
        ORDER BY STORAGE_NO
    </select>

    <update id="updateStorageAmount">
        UPDATE STORAGE
        SET CURRENT_AMOUNT = CURRENT_AMOUNT + #{amount}
        WHERE STORAGE_NO = #{storageNo}
    </update>

    <update id="minusStorageAmount">
        UPDATE STORAGE
        SET CURRENT_AMOUNT = CURRENT_AMOUNT - #{amount}
        WHERE STORAGE_NO = #{storageNo}
    </update>

    <select id="searchStorage" resultMap="storageResult">
        SELECT STORAGE_NO,
        ABLE_AMOUNT,
        CURRENT_AMOUNT
        FROM STORAGE
        WHERE STORAGE_NO = #{storageNo}
    </select>
</mapper>